.accordion{
    @include flex-column(center, center);
    max-width: 540px;
	align-items: stretch;
	list-style: none;
	padding: 0;
	border-bottom: 1px solid #ccc;

    &__tab > label{
        display: block;
        width: 540px;
        padding: 20px;
        height: 60px;
        border: 0;
        border-bottom: 2px solid $bordergray-color;
        min-width: 243px;
        background-color: transparent;
        @include font-style(16px, 'regular', 'azul');
        color: $tabgray-color;
        @include flex(space-between, center);

        &:hover{
            cursor: pointer;
            color: $red-color;
        }

        @media (max-width: $mobile-threshold) {
            max-width: 310px;
        }
    }

    @media (max-width: $mobile-threshold) {
        max-width: 310px;
    }
}